<script>
    // Sadece Menü ve Lightbox kalsın
    function toggleNavDrawer() {
        const drawer = document.getElementById('nav-drawer');
        const overlay = document.getElementById('nav-overlay');
        if (drawer.style.right === '0px') {
            drawer.style.right = '-310px';
            overlay.style.display = 'none';
            document.body.style.overflow = 'auto';
        } else {
            drawer.style.right = '0px';
            overlay.style.display = 'block';
            document.body.style.overflow = 'hidden';
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        const images = document.querySelectorAll('.page-wrap img');
        images.forEach(img => {
            img.addEventListener('click', function() {
                const overlay = document.getElementById('img-lightbox-overlay');
                document.getElementById('enlarged-img').src = this.src;
                overlay.classList.add('active');
            });
        });
    });
</script>